body{
    background-color: rgb(241, 238, 233);
}

.main{
    max-width: 50%;
    /* height: fit-content; */
    height: 715px;
    background-color: #fff;
    border: 2px solid gray;
    border-radius: 50px;

    margin-top: 50px;
}
h1{
    border-bottom: 2px solid black;
    width: 25%;
}
.mobilearea{
    border-bottom: 1px solid gray;
}
#circle{
    margin-bottom: 10px;
}

.bar i{
    float: right;
    margin: 20px 15px;
    font-size: 20px;
    background-color: blueviolet;
    line-height: 40px;
   width: 40px;
    border-radius: 50%;
}
.display{
   width: fit-content;
   position: relative;
   top: 10%;
}
.display #profile{
    width: 200px;
    height: 200px;
    position: relative;
}
.display #beat{
    width: 200px;
    height: 150px;
    background-color: aqua;
}
#heart{
    color: white;
}
.area2{
    /* background-color: rgb(46, 41, 77); */
    background-color: black;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    position: relative;
    top: 11%;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    padding-top: 30px;
}
h3,p{
    color: white;
}

footer{
    display: flex;
    justify-content: space-between;
    background-color: aqua;
    width: 100%;
    height: 95px;
    align-items: center;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
footer i{
    margin: 0px 15px;
    font-size: 35px;
   
}
footer .left{
   margin-left: 30px;
}
footer .right{
   margin-right: 30px;
}



#play{
    background-color:red;
    color: white;
    font-size: 35px;
    border-radius: 50%;
    align-self: center;
    padding: 15px 17px 15px 22px;
    position: relative;
}


#pause{
    display: none;
    background-color:red;
    color: white;
    font-size: 35px;
    border-radius: 50%;
    align-self: center;
    padding: 15px 17px 15px 22px;
    position: relative;
}
#next{
    color: red;
}
#pre{
    color: red;
}

#next:hover{
    background-color: blue;
    color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
#pre:hover{
    background-color: blue;
    color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
























@media (max-width:450px) {
    

    .display #profile{
        width: 100px;
        height: 100px;
       left: 20%;
    }
    .display #beat{
        width: 100px;
        height: 70px;
        background-color: aqua;
    }

    .main{
        max-width: 80%;
        height: 500px;
    }

    .area2{
        top: 15%;
    }
    footer i{
        margin: 0px 5px;
        font-size: 25px;
    }
}



@media (max-width:383px) {

    .display #profile{
       
       left: 1%;
    }
    .left i{
        margin: 0px 5px;
        font-size: 20px;
    }
    .right i{
        margin: 0px 5px;
        font-size: 20px;
    }
}