* {
    margin: 0%;
    padding: 0%;
    text-transform: capitalize;
}

body {
    /* background-color: rgba(199, 112, 112, 0.318); */
    width: 100%;
    display: flex;

}

header {
    background-color: white;
    padding: 30px 0px;
    width: 100%;
}

aside {
    /* background-color: aquamarine; */
    width: 0%;
    display: none;

}

aside ol {
    text-align: center;

}

aside ol li {
    list-style: none;
    margin: 50px 0px;
    font-size: 25px;
}

aside ol li a {
    text-align: center;
    text-decoration: none;
    letter-spacing: 1px;
    color: blue;
}

aside ol li a:hover {
    border-bottom: 2px solid red;
    padding-bottom: 5px;
    transition: .3s;
}

h1 {
    color: blue;
    transition: .3s ease-in;
}

span {
    color: red;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 0px 30px 0px 20px;
}

ul {
    display: flex;
}

ul li {
    list-style: none;
}

ul a {
    text-decoration: none;
    margin: 0px 40px;
    letter-spacing: 1px;
    color: blue;
}

ul a:hover {
    border-bottom: 2px solid red;
    transition: .3s;
    padding-bottom: 5px;
}

#menubar {
    font-size: 25px;
    color: blue;
    display: none;
    transition: .7s;
}
#color {
    font-size: 25px;
    color: blue;
    display: none;
    transition: .7s;
}


.socialicon i {
    color: rgb(175, 49, 49);
    margin: 0px 10px;
    cursor: pointer;
}









@media (max-width:827px) {
    header {
        width: 100%;
    }

    aside {
        width: 50%;
        height: 800px;
        border-right: 2px solid gray;
        border-bottom: 2px solid gray;
        /* display: block; */
        transition: .7s;
    }

    h1 {
        font-size: 25px;
    }

    #menubar {
        display: block;
        /* margin-left: 60px; */
    }
    #color{
        display: block;
    }

    .socialicon {
        display: none;
    }

    ul,
    .socialicon {
        display: none;
    }

    aside ol li a {
        font-size: 20px;
    }


}