*{
    margin: 0%;
    padding: 0%;
}

video{
    width: 100%;
    height: 120vh;
}


h1{
   margin: auto;
    font-size: 150px;
     color: white;
     background-color: black;
     width: 100%;
     height: 120vh;
}

/* .videocon{
    background-color: rgba(0, 0, 0, 0.445);
    z-index: -2;
} */