*{
    text-transform: capitalize;
}
h1{
    color: goldenrod;
    font-size: 50px;
}

details{
    /* background-color: red; */
    width: 100%;
}
summary{
    width: 60%;
    display: flex;
    background-color:green;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    border-radius: 20px 20px 0px 0px;
    margin-top: 10px;
    border-bottom: 10px solid rgb(172, 189, 172);
}
h3{
    color: white;
}
summary i{
    color: goldenrod;
    font-size: 30px;
}
p{
    width: 60%;
    background-color: rgb(172, 189, 172);
    margin-top: -1px;
    padding: 10px 20px;
    border-radius: 15px;
    border-radius: 0px 0px 20px 20px;
}
